<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'general/style/reset.css' %}">
	<link rel="stylesheet" href="{% static 'general/style/style.css' %}">
</head>
<body>

<header>
	<ul>
		<li><a href="{% url 'main' %}">Главная</a></li>
		<li><a href="{% url 'about' %}">О компании</a></li>
		<li><a href="{% url 'technical_support' %}">Техническая помощь</a></li>
		<li><a href="{% url 'contact' %}">Связь</a></li>
		<li><a href="{% url 'comment' %}">Отзывы</a></li>
	</ul>
</header>

<article class="content">
	{% block content  %}
		<p>Тут-то всё и будет. Это текст базового шаблона.</p>
	{% endblock %}
</article>

<footer>
	<p>Copyright &copy; 2017</p>
</footer>

</body>
</html>