{% extends "base.html" %}

{% block title %}Связь{% endblock %}

{% block content %}
    <p><b>Это учебный проект.</b>
    </p>
    <p>Так как это учебный проект, то его дальнейшая поддержка не предусмотрена. Вы можете связаться персонально с
        любым из
        разработчиков, наши индивидуальные контакты указаны на странице <a href="{% url 'about' %}">О
            компании</a></p> <br><br>

    <p><strong>Ваше сообщение успешно отправлено. Мы свяжемся с Вами в ближайшее время.</strong></p>

{% endblock %}