{% extends "base.html" %}

{% block title %}Техническая помощь{% endblock %}

{% block content %}
    <article>
        <p><b>Это учебный проект.</b>
        </p>
        <h2>Часто задаваемые вопросы:</h2>
        <p><b>В:</b> Когда была основана ваша компания?</p>
        <p><b>О:</b> Компания была основана 4 апреля 2017 г., на первом занятии по курсу «Стажировка в GeekBrains»</p>
        <p><b>В:</b> Есть ли официальный git-репозиторий вашего проекта с открытым доступом?</p>
        <p><b>О:</b> Да, git-репозиторий этого проекта доступен по ссылке: <a
                href="https://github.com/DarkenNav/UnionFreeArts" target="_blank">https://github.com/DarkenNav/UnionFreeArts</a>
        </p>
        <p><b>В:</b> Использовались ли при разработке проекта приложения для управления проектами?</p>
        <p><b>О:</b> Да, использовалось приложение <a href="https://trello.com/" target="_blank">Trello</a>.</p> <br><br>


        <p><strong>Ваше сообщение успешно отправлено. Мы свяжемся с Вами в ближайшее время.</strong></p>
    </article>
{% endblock %}