{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content  %}
    <p>Тут-то всё и будет. Главная страница.</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Количество упоминаний</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Путин</td>
            <td>100500</td>
        </tr>
        <tr>
            <td>Медведев</td>
            <td>5000</td>
        </tr>
        <tr>
            <td>Навальный</td>
            <td>2000</td>
        </tr>
        <tr>
            <td>empty</td>
            <td>empty</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}