{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content  %}
<p><b>Это учебный проект.</b>
</p>
<p>Мы молодая IT-компания "<b>UnionFreeArts</b>", предоставляющая свой собственный продукт – универсальный инструмент, который позволяет определить популярность кого угодно, и где угодно.</p>
<p>Например, мы можем узнать, кто популярнее на новостном сайте «Путин, Медведев, или Навальный». Или о какой религии чаще пишут в ЖЖ. И т.д.
</p>
<p>Пример очета в программе выглядит подобным образом:</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Количество упоминаний</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Путин</td>
            <td>100500</td>
        </tr>
        <tr>
            <td>Медведев</td>
            <td>5000</td>
        </tr>
        <tr>
            <td>Навальный</td>
            <td>2000</td>
        </tr>
        </tbody>
    </table>
</div>

<h3>Демонстрационное видое приложения на Android:</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/kkoR_tybbN4?ecver=1" frameborder="0" allowfullscreen></iframe>
{% endblock %}