
body {
    background: #c5c5c5;
    height: 100%;

}
html, body {
  height: 100%;
}

header {
    min-height: 130px;
    background: #fff;
    background: linear-gradient(to top, gray, white);
    height: 90%;
    margin: auto;
}
.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

nav {
    margin-left: 130px;
}

header a {
    float: left;
    position: inherit;
}

footer {
  border-top: 1px solid #E7E7E7;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;

}

footer .legal {
  padding-top: 14px;
}

footer ul li {
  display: inline;
  margin-right: 15px;
}

footer .social {
  padding-top: 10px;
  font-size: 20px;
  text-align: right;
}

footer .social a {
  color: #777;
  margin-left: 10px;
  transition: all 0.2s ease 0s;
}

footer .social a:hover {
  color: #333;
}

.logo {
    float: left;
}

.content{
    width: 50%;
    margin: auto;
}
h2{
    margin: auto;
    text-align: center;
}
.table_members {
    margin: 5px auto;
    border: solid 1px;
}
.table_members tr:first-child {
    text-align: center;
}
.table_members td {
    border: solid 1px;
    padding: 2px 3px;
}

.push {
  height: 50px;
}