<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/ufartdb</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.pool_size">2</property>
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">false</property>
        <property name="hibernate.id.new_generator_mappings">false</property>

        <property name="connection.username"></property>
        <property name="connection.password"></property>

        <mapping class="ru.unionfreearts.webservice.model.Page"/>
        <mapping class="ru.unionfreearts.webservice.model.Person"/>
        <mapping class="ru.unionfreearts.webservice.model.Site"/>
        <mapping class="ru.unionfreearts.webservice.model.Rank"/>
        <mapping class="ru.unionfreearts.webservice.model.Keyword"/>
    </session-factory>
</hibernate-configuration>